.form-container{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 12px;
}

.form-search-input{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    padding: 0 15px;
    font-size: 16px;
}

/* Weather main info styles */
.weather-main-info{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.weather-location{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.weather-region-text, .weather-country-text{
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.weather-location-name{
    font-size: 24px;
    margin: 0;

}

.weather-condition{
    width: 100%;
    height: 210px;
}

.weather-img{
    width: 90px;
    height: 90px;;
}

.weather-coords{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}